@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GLOBAL */
* {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #373737;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --bg-color-01: #f2f1ee;
    --bg-color-02: #f9f9f9;
    --bg-color-03: rgba(0, 0, 0, 0.3);
    --white-bg: #ffff;
    --primary-color: #04b000;
    --primary-color-light: rgba(4, 176, 0, 0.2);
    --text-color: #373737;
    --text-sub: #6d6d6d;
    --text-error: #ff0000;
    --icon-color: rgb(81, 81, 81);
    --hover-color: #e4e4e4;

    --color-01: rgb(222, 174, 0);
    --color-01-light: rgba(251, 251, 111, 0.4);
    --color-02: #ff0000;
    --color-02-light: rgba(253, 63, 63, 0.4);
    --color-03-light: #37373759;

    /* BOX EFFECTS */
    --side-shadow-01: 0 20px 35px rgba(0, 0, 0, 0.1);
    --side-shadow-02: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    --side-shadow-03: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --side-shadow-04: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    --side-shadow-05: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

    --border-radius: 0.5rem;

    /* FONT */
    --header-extrabold-font: "Montserrat", sans-serif;
    --header-extrabold: 900;
    --text-capitalized: capitalize;

    /* TRANSITION */
    --trans-02: all 0.2 ease;
    --trans-03: all 0.3 ease;
    --trans-04: all 0.4 ease;
    --trans-05: all 0.5 ease;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 12px;
    background: var(--bg-color-01);
    border-radius: var(--border-radius-20);
}

::-webkit-scrollbar-thumb {
    background: var(--hover-color);
    border-radius: var(--border-radius-20);
}

body {
    background-color: var(--bg-color-01);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-msg {
    color: var(--text-error);
    font-style: italic;
    font-size: 1rem;
}

.header-text {
    font-family: var(--header-extrabold-font);
    font-weight: var(--header-extrabold);
}

.submit-btn {
    background-color: var(--primary-color);
    color: var(--bg-color-01);
    font-weight: bold;
    padding: 1rem;
    /* width: 14rem; */
    border-radius: var(--border-radius);
}

#button-label {
    color: var(--primary-color);
    font-weight: bold;
}

.submit-btn:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.deny-btn {
    padding: 1rem;
    color: var(--text-error);
    background-color: transparent;
    font-weight: bold;
}

.btn-outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    font-weight: bold;
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--bg-color-01);
}

.highlight-link {
    color: var(--primary-color);
}

.back-link-container {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: var(--header-extrabold);
}

.back-link .bx-left-arrow-alt {
    font-size: 36px;
    color: var(--primary-color);
    margin-right: 1rem;
}

.navbar .nav-item .active {
    color: var(--primary-color);
    font-weight: var(--header-extrabold);
}

.sub-text {
    font-weight: bold;
    color: var(--text-sub);
}

.form-control:focus, .form-select:focus {
    border: 1px solid lightgray;
    box-shadow: none;
    outline: none;
}

.date-input {
    border: 1px solid lightgray;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.text-cap {
    text-transform: var(--text-capitalized);
}

.match-info {
    background-color: var(--primary-color-light);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
    margin-right: 0.5rem;
}

.notmatch-info {
    background-color: transparent;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
    margin-right: 0.5rem;
}

/* SIDEBAR */
.layout-container .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--bg-color-02);
    width: 90px;
    padding: 10px 14px;
    overflow: hidden;
    box-shadow: var(--side-shadow-01);
    z-index: 100;
}

.layout-container .sidebar:hover {
    width: 15rem;
    transition: var(--trans-05);
}

.layout-container .sidebar header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.layout-container .sidebar header .logo-sidebar {
    display: flex;
    align-items: center;
}

.layout-container .sidebar li .side-icon {
    font-size: 27px;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.layout-container .sidebar li .side-title {
    padding-left: 1.5rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.layout-container .sidebar li {
    height: 50px;
    margin-top: 10px;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
}

.layout-container .sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans-04);
}

.layout-container .sidebar li a:hover {
    background: var(--primary-color-light);
}

.layout-container .sidebar li a:hover .side-icon, .layout-container .sidebar li a:hover .side-title, .layout-container .sidebar li a:hover .bxs-right-arrow,
.layout-container .sidebar li a:hover .bx {
    color: var(--primary-color);
}

.layout-container .sidebar .sidebar-menu {
    /* background: #636060; */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout-container .sidebar .sidebar-menu .active {
    background-color: var(--primary-color-light);
}
.layout-container .sidebar .sidebar-menu .active .side-icon, .layout-container .sidebar .sidebar-menu .active .side-title {
    color: var(--primary-color);
}

.layout-container .sidebar .sidebar-bottom {
    padding-bottom: 2rem;
}

.layout-container .sidebar .logo-img {
    min-width: 65px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container .logo-img i {
    font-size: 39px;
    color: var(--primary-color);
}

.layout-container .sidebar-menu .submenu li {
    padding-left: 3.8rem;
}

.layout-container .sidebar-menu .submenu {
    display: none;
}

.layout-container .sidebar-menu .submenu.active-drop {
    display: block;
}

.layout-container .sidebar-menu .bxs-right-arrow {
    font-size: 12px;
}

.layout-container .sidebar-menu .arrow-down {
    transform: rotate(90deg);
}

.layout-container .sidebar-menu .submenu i {
    font-size: 27px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}


/* NAVBAR */
.layout-container .navbar {
    position: fixed;
    background-color: var(--bg-color-01);
    /* margin-left: 10rem;
    margin-right: 10rem; */
    margin: 0;
    padding-left: 6rem;
    /* border: 1px solid; */
    width: 100%;
    top: 0;
    z-index: 99;
}

.layout-container .navbar .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.layout-container .logo {
    height: 5rem;
}

.layout-container .nav-item {
    padding: 2rem;
}

.layout-container .user-index {
    font-weight: bold;
    padding-left: 0;
    padding-right: 4rem;
    text-align: left;
}

/* PAGE CONTAINER */
.home-container {
    position: absolute;
    top: 8rem;
    margin-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout-container .content-container {
    /* padding-left: 4.5rem; */
    display: flex;
    justify-content: center;
    width: 100vw;
}

.layout-container .bxs-inbox {
    color: var(--primary-color);
    font-size: 33px;
}

.home-container .home-top {
    margin-top: 1rem;
    padding-bottom: 4rem;
}

.home-container .home-captions {
    padding: 2rem;
}

.home-container .home-row {
    padding-left: 2rem;
    padding-right: 2rem;
}

.home-container .header-caption h1 {
    margin-top: 3.5rem;
    font-size: 70px;
    color: var(--primary-color);
}

.home-container .home-captions .sub-caption p {
    font-size: 23px;
}

.home-container .carousel-container {
    box-shadow: var(--side-shadow-01);
}

.home-container .carousel-container, .carousel-container img {
    height: 35rem;
}

.home-container .carousel-item img {
    width: 100%;
    object-fit: cover;
}

.home-container .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.home-container .carousel-control-prev-icon,
.home-container .carousel-control-next-icon {
    background-color: var(--icon-gray);
    /* border-radius: 50%; */
    height: 100%;
    width: 3.5rem;
    padding: 10px;
}

.home-container .carousel-control-prev-icon:hover,
.home-container .carousel-control-next-icon:hover {
    background-color: var(--primary-color-light);
}

.home-container .carousel-control-prev,
.home-container .carousel-control-next {
    width: 5%;
}

.home-container .count-index-icon {
    font-size: 80px;
    margin-bottom: 1rem;
}

.home-container .count-index-icon, .home-container .user-count {
    color: var(--bg-color-01);
}

.home-container .user-count {
    font-size: 30px;
}

.home-container .user-count p {
    font-weight: var(--header-extrabold);
}

.home-container .count-user-row {
    background-image: url('../images/23.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: bottom;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20rem;
}

.home-container .submit-btn {
    width: 14rem;
}

.home-container .btn-outline {
    border-radius: 1.5rem;
    width: 7.5rem;
}

/* span.badge {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    display: inline;
} */


#notificationDropdown::after {
    display: none;
}

.dropdown-toggle {
    display: flex;
}

span.badge {
    position: absolute;
    top: 2.7rem;
    right: 1.3rem;
    border: 1.5px solid white;
}

.layout-container .dropdown-menu.show {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 30rem;
    min-height: fit-content;
    max-height: 20rem;
    overflow-y: scroll;
}

.layout-container .dropdown-menu.show li a {
    height: fit-content;
    padding: 1rem;
    
}

.layout-container .dropdown-menu.show li a, .layout-container .dropdown-menu .dropdown-item .notif-content {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
} 

.layout-container .dropdown-menu.show li a:hover {
    background-color: var(--primary-color-light);
}

.layout-container .dropdown-menu .dropdown-item .notif-owner {
    font-weight: 600;
    color: var(--primary-color);
}

.layout-container .dropdown-menu .dropdown-item .notif-content {
    font-size: 17px;
}

.layout-container .dropdown-menu .dropdown-item div.sub-text {
    font-weight: normal;
}


/* AUTH CONTENT */
.login-container .logo-big {
    height: 8rem;
}

.login-container .highlight-link {
    font-weight: bold;
}

.login-container  {
    width: 80rem;
    height: 50rem;
    border-radius: 2rem;
    box-shadow: var(--side-shadow-01);
}

.login-container .login-form {
    padding-left: 5rem;
    padding-top: 5.5rem;
}

.login-container .submit-btn {
    width: 100%;
}

.login-container .side-img {
    background-image: url("../images/side-img1.png"); 
    border-top-right-radius:2rem; 
    border-bottom-right-radius:2rem; 
    background-repeat: no-repeat; 
    background-position: right; 
    background-size: cover; 
    clip-path: polygon(100% 100%, 2% 100%, 22% 0, 100% 0);
}

/* REGISTRATION */
.register-container .highlight-link {
    font-weight: bold;
}


/* TABLES */
table thead .table-head {
    background-color: var(--primary-color);
    color: var(--bg-color-01);
    text-align: center;
    font-weight: var(--header-extrabold);
}

table tbody .bx {
    font-size: 30px;
    color: var(--text-error);
}

/* PWD BROWSE */
.pwd-browse-prog {
    position: absolute;
    top: 8rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pwd-browse-prog .filter-container {
    position: fixed;
    width: 18rem;
    /* margin-left: 3rem; */
    /* background-color: #04b000; */
    border: 1px solid lightgray;
    padding-top: 1.3rem;
    padding-left: 2rem;
    height: 80vh;
    box-shadow: var(--side-shadow-02);
    background-color: var(--bg-color-02);
    left: 8rem;
    top: 8rem;
    z-index: 98;
    overflow-y: scroll;
}

.pwd-browse-prog .filter-container .count {
    font-weight: normal;
    color: var(--primary-color);
}

.pwd-browse-prog .filter-container i {
    width: 3rem;
}

.pwd-browse-prog .filter-container span p {
    font-size: 22px;
    font-weight: bold;
}

.pwd-browse-prog .filter-container .form-check {
    width: 13rem;
}

.pwd-browse-prog .empty-space {
    width: 7rem;
}

.pwd-browse-prog .searchbar-container {
    /* position: fixed;
    top: 6.8rem;
    z-index: 98;
    width: 49%;
    padding: 1.5rem;
    height: 5rem;
    background-color: var(--bg-color-01);
    display: flex;
    align-items: center;
    box-shadow: var(--side-shadow-05); */
}

.pwd-browse-prog .searchbar {
    width: 40rem;
    box-shadow: var(--side-shadow-04);
    border-radius: var(--border-radius);
}

.pwd-browse-prog .searchbar input:focus {
    border: 1px solid lightgray;
    box-shadow: none;
    outline: none;
}

.pwd-browse-prog .searchbar input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pwd-browse-prog .searchbar-container .searchbar .submit-btn {
    background-color: var(--primary-color);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pwd-browse-prog .searchbar-container .searchbar .submit-btn:hover {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.pwd-browse-prog .outer {
    width: 90%;
    height: 40rem;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.pwd-browse-prog .browse-area {
    width: 90%;
    margin-left: 12rem;
}

.pwd-browse-prog .prog-grid {
    /* position: relative; */
    /* top: 4.5rem; */
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    gap: 0.2rem;
}

.pwd-browse-prog .prog-card {
    width: 50rem;
    height: 13rem;
    background-color: var(--bg-color-02);
    box-shadow: var(--side-shadow-03);
    border-radius: var(--border-radius);
}

.pwd-browse-prog .prog-card .prog-img {
    width: 5.5rem;
    height: 5rem;
    background-color: var(--primary-color-light);
    margin-right: 1rem;
    border-radius: var(--border-radius);
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pwd-browse-prog .prog-card .prog-img span {
    font-size: 2rem;
    font-weight: var(--header-extrabold);
    color: var(--primary-color);
}

.pwd-browse-prog .prog-card .prog-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.5rem;
    height: 2.5rem;
}

.pwd-browse-prog .prog-card h4 {
    font-weight: var(--header-extrabold);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.pwd-browse-prog .prog-card .prog-texts {
    padding: 1rem;
}

.pwd-browse-prog .prog-card:hover, .agency-prog-container .prog-card:hover {
    background-color: var(--white-bg);
}

.pwd-browse-prog .prog-card .prog-desc p {
    font-size: 15px;
    height: 100%;
}

.pwd-browse-prog .prog-card .prog-texts-container, .pwd-browse-prog .prog-card .prog-texts-container .prog-head {
    width: 100%;
}

.pwd-browse-prog .prog-card .prog-texts-container .header {
    width: 25rem;
}

.pwd-browse-prog .prog-card .prog-texts-container .header p {
    margin: 0;
}

.pwd-browse-prog .prog-card .prog-texts-container .date-posted {
    width: 100%;
}

/* PAGINATION */
/* .pagination {
    height: 2rem;
} */

.pagination .page-item.active {
   background-color: var(--primary-color);
   
}
.pagination .page-item.active .page-link {
    color: var(--white-bg);
    font-weight: bold;
    border: 1px solid var(--white-bg);
}

.pagination nav {
    width: 100%;
}

.pagination .d-none {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
}

.pagination .page-link {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    
}

/* TRAINING DETAILS POPUP */
.popup {
    position: fixed;
    background-color:var(--bg-color-03);
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: end;
    padding: 0;
    height: 100vh;
    top: 0;
    right: 0;
    display: none;
}

.details-container {
    /* position: relative;
    top: 0;
    right: 0; */
    background-color: var(--bg-color-02);
    width: 45rem;
    height: 100vh;
    padding: 0;
    box-shadow: var(--side-shadow-01);
    /* display: none; */
    /* z-index: 2; */
    /* transition: var(--trans-05); */
}

.details-container .header {
    padding: 1rem;
    background-color: var(--bg-color-01);
        box-shadow: var(--side-shadow-02);
}

.details-container .header i {
    width: 7rem;
    font-size: 35px;
    /* font-weight: bold; */
    color: var(--primary-color);
}

.details-container .header h4 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.details-container .body {
    padding: 2rem;
}

.details-container .body h3 {
    font-weight: var(--header-extrabold);
}

.details-container .body p {
    margin: 0;
}

.details-container .body .submit-btn {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    padding: 0.8rem;
    width: 6rem;
}

/* .pwd-browse-prog .prog-card {
    width: 70rem;
    background-color: var(--bg-color-02);
    box-shadow: var(--side-shadow-03);
}

.pwd-browse-prog .prog-card .prog-img{
    height: 13rem;
    width: 13rem;
}

.pwd-browse-prog .prog-card h3 {
    font-weight: var(--header-extrabold);
}

.pwd-browse-prog .prog-card .prog-texts {
    padding: 1rem;
}

.pwd-browse-prog .prog-card:hover, .agency-prog-container .prog-card:hover {
    background-color: var(--white-bg);
}

.pwd-browse-prog .prog-card .prog-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2.5rem;
    height: 2.7rem;
    max-width: 100%;
}

.pwd-browse-prog .prog-card .prog-texts-container {
    width: 100%;
}

.pwd-browse-prog .prog-card .prog-desc p {
    font-size: 15px;
    height: 100%;
}

.pwd-browse-prog .prog-card .match-info {
    background-color: var(--primary-color-light);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
} */

/* TRAINING AGENCY MANAGE PROGS */
.agency-prog-container .prog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.agency-prog-container .prog-card, .agency-prog-container .add-prog-card {
    height: 22rem;
    width: 22rem;
    background-color: var(--bg-color-02);
    border-radius: var(--border-radius);
    box-shadow: var(--side-shadow-03);
}

.agency-prog-container .add-prog-card {
    background-color: var(--primary-color-light);
    cursor: pointer;
}

.agency-prog-container .add-prog-card:hover {
    background-color: var(--bg-color-02);
}

.agency-prog-container .add-prog-card:hover a {
    color: var(--primary-color-light);
}

.agency-prog-container .add-prog-card a {
    font-size: 80px;
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.agency-prog-container .prog-card h3 {
    font-weight: var(--header-extrabold);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    margin: 0;
}

.agency-prog-container .prog-card {
    padding: 1.5rem;
}

.agency-prog-container .prog-loc {
    font-size: 17px;
    margin-bottom: 0;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.agency-prog-container .prog-desc-container {
    height: 120px;
    max-height: 120px;
}

.agency-prog-container .prog-card .prog-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Number of lines to show before truncating */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.agency-prog-container .prog-card .prog-details {
    /* height: 1.5rem; */
}

.agency-prog-container .prog-card .prog-details p {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
}

.agency-prog-container .prog-card .prog-details p, .agency-prog-container .prog-card .prog-details i {
    font-size: 16px;
    
}

.agency-prog-container .prog-card .prog-details .period {
    margin-left: var(--border-radius);
    margin-right: var(--border-radius);
}

.agency-prog-container .prog-card .prog-btn {
    height: 3rem;
}

.progress-bar, .progress-bar {
    background-color: var(--primary-color);
    font-weight: bolder;
    padding: 0.5rem;
}

.crowdfund-progress p.sub-text {
    margin: 0;
    color: var(--text-color);
}

.crowdfund-progress p span {
    color: var(--primary-color);
    font-weight: var(--header-extrabold);
}

.crowdfund-progress .progress {
    height: 1.5rem;
}

#addCompetencyBtn {
    margin-top: 10px;
}
.form-check {
    margin-bottom: 5px;
}
.error-msg {
    color: red;
}

/* TRAINING PROGRAM DETAILS */
.agency-show-prog {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8.5rem;
    padding-left: 3.5rem;
}

.agency-show-prog .outer {
    width: 80%;
}

.agency-show-prog .prog-details {
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid lightgray;
    margin-right: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--side-shadow-02);
    width: 100%;
    background-color: var(--bg-color-02);
    padding: 3.5rem;
}



.agency-show-prog .prog-details .header, .agency-show-prog .prog-details .titles ,
.agency-show-prog .prog-details .prog-btn {
    width: 100%;
    overflow-x: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.agency-show-prog .prog-details .prog-btn {
    width: 30%;
    text-align: end;
}

.agency-show-prog .prog-details .prog-btn .edit-delete {
    display: flex;
    justify-content: end;
}

.agency-show-prog .prog-details .prog-btn .edit-delete button {
    width: 5rem;
}

.agency-show-prog .prog-details .prog-btn .submit-btn {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

.agency-show-prog .prog-details .prog-btn .submit-btn.edit-btn {
    background-color: transparent;
}

.agency-show-prog .prog-details .prog-btn .submit-btn.edit-btn:hover {
    background-color: var(--primary-color-light);
}

.agency-show-prog .prog-details h3 {
    font-weight: var(--header-extrabold);
}

.agency-show-prog .prog-details p {
    margin: 0;
}

.agency-show-prog .prog-btn .submit-btn, .agency-show-prog .prog-details .prog-btn .deny-btn  {
    width: 10rem;
    padding: 0.6rem;
}

.agency-show-prog .prog-details h5, .details-container .body h5 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.details-container .body .more-info {
    height: 10rem;
}

/* ENROLLEE REQUESTS */

.agency-show-prog .request-grid {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 0.5rem;
    padding: 1rem;
    /* background-color: var(--bg-color-02); */
    /* height: 100%; */
}

.agency-show-prog .request-grid a {
    height: fit-content;
    width: 100%;
    display: flex;
}

.agency-show-prog .request-grid .request-container {
    padding: 1rem;
    box-shadow: var(--side-shadow-02);
    border-radius: var(--border-radius);
    padding-right: 1.5rem;
    background-color: var(--bg-color-01);
    border: 1px solid lightgray;
    height: fit-content;
}

.agency-show-prog .request-grid .request-container:hover {
    background-color: var(--bg-color-02);
}

.agency-show-prog .request-grid .request-container .request-owner {
    display: grid;
    grid-template-columns: 5rem auto;
    align-items: center;
    width: 100%;
}

.agency-show-prog .request-grid .request-container .owner-name {
    text-align: start;
}

.agency-show-prog .request-grid .request-container .request-owner p {
    padding: 0;
    margin: 0;
}

.agency-show-prog .request-grid .request-container .request-owner .fs-5 {
    font-weight: 700;
}

.agency-show-prog .request-grid .request-container .request-owner .location {
    font-size: 17px;
}

.agency-show-prog .request-grid .request-container .request-pic {
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color-light);
    border-radius: 100%;
    margin-right: 1rem;
}

.agency-show-prog .request-grid .btn-container {
    margin-right: 0.5rem;
}

.agency-show-prog .request-grid .submit-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.agency-show-prog .request-grid .deny-btn {
    width: 5rem;
}

.agency-show-prog .prog-details .prog-texts .body {
    height: fit-content;
    width: 100%;
}

.agency-show-prog .prog-details .prog-texts .requirements {
    /* border-right: 1px solid lightgray; */
    width: 100%;
}

.agency-show-prog .prog-details .prog-texts .enrollees {
    width: 100%;
}

.agency-show-prog .prog-details .prog-texts #competencies ul {
    padding-left: 2rem;
}

.agency-show-prog .prog-details .prog-texts #competencies li {
    list-style: circle;
}

.agency-show-prog .table {
    border-top: 3px solid lightgray;
}

.agency-show-prog .table td input {
    width: 1.2rem;
    height: 1.2rem;
    border: 1.8px solid lightgray;
}

.agency-show-prog .table thead td {
    background-color: transparent;
}

.agency-show-prog .table .bx {
    color: var(--bg-color-01);
}

.agency-show-prog .table .submit-btn:hover .bx {
    color: var(--primary-color);
}

.agency-show-prog .table .submit-btn {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;
    align-items: center;
}

.agency-show-prog .table .completed {
    background-color: var(--bg-color-02);
}

.agency-show-prog .table .completed .bx {
    color: var(--primary-color);
}

.agency-show-prog .table td.check {
    width: 4rem;
}

.agency-show-prog .table td a:hover {
    color: var(--primary-color);
}

.agency-show-prog .table td.name {
    width: 100%;
}

.agency-show-prog .table td.btn-container {
    width: 15rem;
}

.agency-show-prog .prog-details .modal-btn {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.agency-show-prog .prog-details .submit-btn.pending {
    background-color: var(--color-01-light);
    color: var(--color-01);
}

.agency-show-prog .prog-details .submit-btn.approved {
    width: fit-content;
}

.agency-show-prog .prog-details .submit-btn.approved .bx {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

.agency-show-prog .prog-details .submit-btn.disabled {
    background-color: var(--color-02-light);
    color: var(--color-02);
}

.agency-show-prog .prog-details .text-danger {
    font-style: italic;
    font-size: 16px;
}

/* RATING  */
.agency-show-prog .star-rating {
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}

.agency-show-prog .star-rating .bx {
    font-size: 40px;
    color: var(--color-01);
}

.agency-show-prog .reviews .outer {
    padding: 2rem;
    min-height: fit-content;
    max-height: 40rem;
    overflow-y: scroll;
    width: 100%;
}

.agency-show-prog .review-grid {
    /* padding: 2rem; */
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}

/* .show-prog-container .reviews {
    height: 40rem;
    overflow-y: scroll;
} */

.agency-show-prog .reviews h3 {
    font-weight: var(--header-extrabold);
}

.agency-show-prog .reviews .header {
    background-color: var(--bg-color-01);
    padding: 1rem;
}

.agency-show-prog .reviews .body-review {
    /* margin: 2rem; */
    width: 100%;
    border-radius: var(--border-radius);
}

.agency-show-prog .reviews .body-review .owner,  .agency-show-prog .reviews .body-review .time {
    background-color: var(--bg-color-01);
    padding: 1rem;
}

.agency-show-prog .reviews .body-review .owner {
    font-weight: var(--header-extrabold);
}

.agency-show-prog .reviews .body-review .content {
    padding: 1rem;
}

.agency-show-prog .reviews .body-review .bx {
    color: var(--color-01);
}

/* SHOW PROG TABS */
.agency-show-prog .tab-content {
    height: 30rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.agency-show-prog .tab-content>.active {
    height: 100%;
}

.agency-show-prog .prog-details .more-info {
    width: 100%;
}

.agency-show-prog .prog-details .nav {
    border-top: 1px solid lightgray;
}


.agency-show-prog .prog-details .nav .nav-item {
    padding-top: 1rem;
    padding-bottom: 2rem;
    
}

.agency-show-prog .prog-details .nav .nav-item a {
    color: var(--text-color);
}

.agency-show-prog .prog-details .nav .nav-item a.active {
    color: var(--primary-color);
    font-weight: bold;
}

.add-form, .edit-form {
    padding-bottom: 3rem;
}

.add-form .prog-btn .submit-btn, .edit-form .prog-btn .submit-btn {
    width: 10rem;
}

.add-form .add-comp, .edit-form .add-comp {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: var(--bg-color-02);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.add-form .add-comp:hover, .edit-form .add-comp:hover {
    background-color: var(--primary-color-light);
}

.add-form .add-comp .bx-plus, .edit-form .add-comp .bx-plus {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

/* PROFILE */
.profile-container, .agency-prog-container, .edit-form, .add-form {
    position: absolute;
    top: 9rem;
    margin-bottom: 3rem;
    /* padding-left: 7rem; */
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}
.profile-container .profile-info {
    display: flex;
    align-items: center;
}

.profile-container .back-btn {
    position: fixed;
    left: 20rem;
}

.profile-container .profile-pic {
    background-color: var(--primary-color-light);
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--primary-color)
}

.profile-container .profile-pic form {
    width: 10rem;
    height: 10rem;
}

.profile-container .profile-pic span {
    font-size: 4rem;
    font-weight: var(--header-extrabold);
    color: var(--primary-color);
}

.profile-container .profile-pic .deny-btn {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.profile-container .profile-pic .deny-btn:hover {
    background-color: var(--color-03-light);
}

.profile-container .profile-pic .deny-btn .bx {
    font-size: 35px;
    color: transparent;
}

.profile-container .profile-pic .deny-btn:hover .bx {
    color: var(--bg-color-02);
}

.profile-container .profile-name {
    font-weight: var(--header-extrabold);
    font-size: 22px;
}

.profile-container .profile-info {
    width: 100% ;
}

.profile-container .profile-info .header {
    min-width: 80%;
    width: 80%;
}

.profile-container .profile-info .details {
    width: 100%;
}       
.profile-container .more-details {
    height: 100vh;
}

.profile-container .more-details .contact {
    width: 24rem;
    margin-right: 1.7rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    height: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.profile-container .more-details .contact h4 {
    font-weight: 600;
    text-align: center;
}

.profile-container .more-details .contact .contact-container {
    padding-left: 1rem;
    width: 17rem;
}

.profile-container .more-details .contact .contact-item, .profile-container .more-details .bio .bio-item  {
    margin-bottom: 1.7rem;
}

.profile-container .more-details .contact .contact-item {
    overflow-x: hidden;
}

.profile-container .more-details .contact .contact-item p {
    word-wrap: break-word;
}

.profile-container .more-details .bio .bio-item .about, .profile-container .details .age .sub-text {
    font-style: italic;
    font-weight: normal;
}

.profile-container .more-details .bio .bio-item .about a {
    text-decoration: underline;
    color: var(--primary-color);
}

.profile-container .more-details .bio .bio-item .exp-header {
    height: 2rem;
}

.profile-container .more-details .bio .bio-item .exp-header .bx-edit-alt {
    font-size: 25px;
}

.profile-container .more-details .bio .bio-item .exp-header h4 {
    margin: 0;
}

.profile-container .more-details .bio .bio-item .experiences .match-info {
    background-color: var(--color-02-light);
}

.profile-container .more-details .bio .bio-item .experiences .exp-container {
    width: 100%;
}

.profile-container .more-details .bio .bio-item .experiences li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: 3px solid var(--primary-color);
    display: flex;
    align-items: center;
}

.profile-container .more-details .bio .bio-item .experiences li:hover {
    background-color: var(--hover-color);
}

.profile-container .more-details .bio .bio-item .exp-title {
    font-size: 20px;
    margin: 0;
    font-weight: bolder;
    word-break: break-all;
}

.profile-container .more-details .bio .bio-item .exp-date {
    font-size: 17px;
}

.profile-container .more-details .bio .bio-item .certify {
    color: var(--primary-color);
    text-decoration: underline;
}

.profile-container .more-details .contact .side-icon {
    color: var(--primary-color);
    /* font-weight: bold; */
    font-size: 25px;
    margin-right: 1rem;
}

.profile-container .more-details .bio {
    width: 100%;
    /* background-color: var(--primary-color-light); */

     padding: 1rem;
    border-radius: var(--border-radius);
    height: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.profile-container .more-details .bio h4 {
    font-weight: 600;
}

.profile-container .more-details .bio .exp {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 4rem;
}

.profile-container .modal .modal-header .modal-title {
    font-weight: var(--header-extrabold);
}

.profile-container .modal .modal-footer .submit-btn {
    padding: 0.5rem;
}

.profile-container form {
    width: 8rem;
}

/* CALENDAR */
.calendar-container, .trainings-container {
    position: relative;
    top: 8rem;
    display: flex;
    justify-content: center;
    /* height: 80vh; */
    /* overflow-y: hidden; */
    padding-left: 4.5rem;
}

.calendar-container .calendar {
    width: 80%;
    /* height: 10%; */
    /* height: 80vh;
    overflow-y: scroll; */
}

/* .fc-right .fc-button-group {
    background-color: var(--primary-color);
} */
 /* .fc-right .fc-button-group .fc-button {
    background-color: var(--primary-color);
    color: var(--primary-color);
} */

.fc-right .fc-button-group .fc-button.fc-state-default {
    /* background: var(--primary-color-light); */
    color: var(--primary-color);
}

.fc-right .fc-button-group .fc-button.fc-state-active {
    background: var(--primary-color);
    /* background-color: var(--bg-color-01); */
    color: var(--bg-color-01);
    /* font-weight: 700; */
    text-decoration: underline;
}

.fc-right .fc-button-group .fc-button.fc-state-hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.fc-left .fc-button-group .fc-button.fc-state-hover {
    background: var(--primary-color);
    
}

.fc-left .fc-button-group .fc-button.fc-state-hover span {
    color: var(--bg-color-01);
}

.fc-left .fc-today-button.fc-state-disabled {
    background-color: var(--primary-color);
    color: var(--bg-color-01);
    /* font-weight: var(--header-extrabold); */
}

.fc-unthemed td.fc-today {
    background: var(--primary-color-light);
}

.fc-event-container .fc-day-grid-event {
    border-color: var(--primary-color);
    background: var(--primary-color);
    
}

.fc-event-container .fc-day-grid-event span {
    color: var(--bg-color-01);
    font-weight: var(--header-extrabold);
    text-transform: capitalize;
}

.fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 1.5rem;
    background-color: var(--primary-color-light);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.fc {
    border: 1px dashed var(--primary-color);
    padding: 1rem;
    background-color: var(--bg-color-02);
    border-radius: var(--border-radius);
}

.fc th, .fc td {
    border: 1px solid var(--primary-color);
    /* background-color: var(--bg-color-01); */
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    padding: 0.5rem;
}

.fc-day-header {
    background-color: var(--primary-color);
    
}

.fc-day-header span {
    color: var(--bg-color-01);
    font-size: 20px;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-top: 1rem;
}

.fc-day-grid-event  {
    margin-top: 0.3rem;
}

.fc-icon {
    color: var(--primary-color);
}

.fc-center h2 {
    font-weight: var(--header-extrabold);
}

/* TRAININGS */
.trainings-container {
    flex-direction: column;
    width: 90%;
}

.trainings-container .status-btn-default, .trainings-container .app-status-btn-default {
    background-color: var(--bg-color-01);
}

.trainings-container .status-btn-active, .trainings-container .app-status-btn-active {
    background-color: var(--primary-color-light);
}


.trainings-container .table tbody tr {
    height: 2.5rem;
}

.trainings-container .table tbody tr .status-cell {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* width: 10rem; */
    /* margin: 2rem; */
    text-align: center;
}

.trainings-container .table tbody tr .match-info {
    /* margin-bottom: 1rem; */
    /* padding-top: 0.5rem; */
    /* width: 5rem; */
    margin: 0;
    padding: 0.5rem;
    width: 100%;
}

.trainings-container .table tbody tr .match-info.pending {
    background-color: var(--color-01-light);
    color: var(--color-01);
    border-color: var(--color-01);
}

.trainings-container .table tbody tr td a {
    text-decoration: underline;
    color: var(--primary-color);
}

.trainings-container .table td.title {
    width: 25rem;
}

.trainings-container .counts-container, .agency-show-prog .counts-container {
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    width: 20%;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid lightgray;
}

.trainings-container .table-container {
    width: 100%;
    padding: 1rem;
    height: 78vh;
    overflow-y: scroll;
}

.trainings-container .table-container .applications {
    padding-bottom: 2rem;
    border-bottom: 1px dashed var(--primary-color);
    margin-bottom: 2rem;
}

.trainings-container .counts, .agency-show-prog .counts {
    width: 14rem;
    height: 10rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    /* margin-right: 1rem; */
    box-shadow: var(--side-shadow-02);
}

.trainings-container  #filterForm label {
    width: 5rem;
}

.trainings-container  #filterForm select {
    width: 10rem;
}